/* MEDIA QUERIES */

@media screen and (max-width: 1200px) {
	header.desktop .lower .container .logo {
        width: 150px;
    }
    header.desktop .lower .container ul li a {
        letter-spacing: 1px;
    }
}

@media screen and (max-width: 1080px) {
    header.desktop .lower .container ul li a {
        letter-spacing: 0;
    }
    .industriesWeServe .container .industries {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .industry {
            width: 100%;
            margin-bottom: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .list {
                width: auto;
                padding: 0;
                margin-top: 30px;
                text-align: center;
                ul li {
                    list-style: none;
                }
            }
        }
    } 

    .fourIcons .container .iconBox {
        width: 46%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1030px) {
    header.desktop {
        display: none;
    }
    header.mobile {
        display: block;
    }
    .locationsMap .container .listing {
        width: 100%;
    }
	.checkBoxes .container {
        flex-wrap: wrap;
        .checkBox {
            width: 100%;
            display: flex;
            flex-direction: column-reverse;
            p {
                max-width: 500px;
                margin-top: 30px;
            }
        }
    }
    .applyForm .container .formBox .leftSide {
        display: none;
    }

    .applyForm .container .formBox .rightSide {
        width: 100%;
        padding-left: 0;
    }

    .hero.contactHero .container {
        flex-wrap: wrap;
        .textContent {
            width: 100%;
            text-align: center;
            h1 {
                text-align: center;
                margin: 0 auto;
                margin-bottom: 30px
            }
            h2 {
                text-align: center;
                margin: 0 auto;
                // margin-bottom: 30px;
            }
        }
        .formContent {
            width: 100%;
            position: static;
            margin-top: 60px;
        }

    }
    .blog .listingPageContent .container .blog-section .post-listing .post-item {
        width: 98%;
    }
    .landingMain .container {
        // background-color: pink;
        flex-wrap: wrap;
        .leftSide, .rightSide {
            width: 100%;

        }
        .rightSide {
            padding: 0;
        }
    }
}

@media screen and (max-width: 900px) {
    .imageAndText .container {
        flex-wrap: wrap;
        .leftSide, .rightSide {
            width: 100%;
            padding: 0;
            h2 {
                text-align: center;
            }
        }
        .leftSide.home img {
            display: none;
        }
    }

    .redSection .imageAndText .container {
        flex-wrap: wrap;    
        .leftSide, .rightSide {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
        }
    }

    .home .imageLeftTextRight {
        padding-top: 0;
    }
    .statsGrid .container .grid .gridItem {
        width: 50%;
        border: none !important;
    }

    .weSpecialize .container .positionsLists {
        flex-wrap: wrap;
        .positionList {
            width: 100% !important;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            ul li {
                list-style: none;
                text-align: center;
            }

        }
    }

    .threeIcons .container {
        flex-wrap: wrap;
        .iconBox {
            width: 100% !important;
            margin-bottom: 20px;
        }
    } 

    .internalListings .container .postingsList .posting {
        height: auto;
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 20px;
        .column {
            width: 100%;

        }
    }

    .resourcesGroup .container {
        flex-wrap: wrap;
        .resourceFilter {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .resourceTags {
                display: flex;
                li {
                    margin: 10px;
                }
            }
        }
        .resources {
            width: 100%;    
        }
    } 


}

@media screen and (max-width: 800px) {
    .hero .container .buttonBox {
        flex-direction: column;
    }
    .testimonials .testimonialSlider .slide {
        height: auto;
        margin: 10px;
        // padding: 30px;
        img {
            display: none;
        }
        .testimonialText {
            width: 100%;
            padding: 0 30px;
        }
    }

    .faqList .container .faqItem {
        width: 100%;
    }

    .salesOrService {
    padding-top: 150px;
    padding-bottom: 150px;
    .container {
        display: flex;
        flex-wrap: wrap;
        a {
            display: flex;
            height: 400px;
            width: 96%;
            margin: 2%;
            // padding: 30px;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: $darkBlue;
        }
    }
    }

    .teamModule .container {
            .hs_cos_wrapper:nth-child(4n - 3) {
                // background-color: red;
                left: initial;
            }
            .hs_cos_wrapper:nth-child(4n - 2) {
                // background-color: pink;
                .teamMember .fullView {
                    left: initial;
                    
                }
            }
            .hs_cos_wrapper:nth-child(4n -1) {
                // background-color: green;
                .teamMember .fullView {
                    left: initial !important;
                }
            }
            .hs_cos_wrapper:nth-child(4n) {
                // background-color: purple;
                .teamMember .fullView {
                    left: initial;
                }
            }
    }


    .teamModule .container #hs_cos_wrapper_my_flexible_column .hs_cos_wrapper {
        width: 50%;
    }

    .teamModule .container #hs_cos_wrapper_my_flexible_column .hs_cos_wrapper .teamMember .fullView {
        width: 200%;
    }

    .teamModule .container #hs_cos_wrapper_my_flexible_column .hs_cos_wrapper:nth-child(2n - 1) .teamMember .fullView {

    }
    .teamModule .container #hs_cos_wrapper_my_flexible_column .hs_cos_wrapper:nth-child(2n) .teamMember .fullView {
        left: -100%;    
    }

    footer {
        padding-top: 0;
        .container {
            flex-wrap: wrap;
            .column {
                width: 100%;
                margin-top: 20px;
            }
        } 
    } 

    .hbspt-form form .field {
        width: 100% !important;
    }

}


@media screen and (max-width: 600px) {
	.statsGrid .container .grid .gridItem {
        width: 100%;
    }
    .locationsMap .container .listing {
        height: 500px;
        .locationBox {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            left: 0;
        }

        .locationLinks {
            padding: 0;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-direction: column;
            left: 0;
            ul {
                // height: auto;
                transform: translateX(-25%);
            }
        } 
    } 

    .fourIcons .container .iconBox {
        width: 96%;
        margin-bottom: 20px;
    }

    .teamMember.active {
        margin-bottom: 0 !important;
        .copy i {
            display: none;
        }
        .fullView {
            display: none !important;
        }
    }

    .centeredText.halfWidth .container {
        padding: 20px 0;
    }

    .resourcesGroup .container {
        .resourceFilter .resourceTags {
            display: block;
        }
        .resources .hs_cos_wrapper_widget_container {
            flex-wrap: wrap;
            .hs_cos_wrapper_type_custom_widget {
                width: 100%;
            }
        } 
    } 

    .applyForm.findJobToday .container .formBox .rightSide .buttonBox {
        flex-direction: column;
    }
}
